
<div style="width:100%;height:100vh">
    <div style="width:40vw;float:left">
        <img style="height:100%;width:auto" src="../../assets/jeopardy_main.png"/>
    </div>
    <div style="float:left;width:60vw;padding-top:50px">
        <h1>Welcome To Excella Jeopardy!!!</h1>
        <mat-card style="width: 60%;margin-top:10vh;text-align:left">
            <mat-card-header>
              <mat-card-title>Login</mat-card-title>
            </mat-card-header>
            <mat-card-content style="padding:10px">
                <form autocomplete="off">
                    <ng-container>
                        <h3>Enter your email address</h3>
                        <div style="background-color:#2b5b8a">
                            <mat-form-field class="example-full-width" style="width: 80%;padding-left:10px" appearance="fill">
                                <mat-label>Email Address</mat-label>
                                <input matInput [(ngModel)]="email" type="text"  [ngModelOptions]="{standalone: true}" placeholder="Ex. first.last@excella.com">
                              </mat-form-field>
                        </div>
                        <h3>Enter your password (if registered)</h3>
                        <div style="background-color:#2b5b8a">
                            <mat-form-field class="example-full-width" style="width: 80%;padding-left:10px" appearance="fill">
                                <mat-label>Password</mat-label>
                                <input matInput [(ngModel)]="pass" [ngModelOptions]="{standalone: true}" type="password">
                              </mat-form-field>
                        </div>
                        <div>
                            <button mat-button (click)="login()" color="primary">Login</button>
                        </div>
                        <hr/><br/>
                        <h3>Don't have an account yet?</h3>
                        <h4><a href="">Register Here</a></h4>
                    </ng-container>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>